@media screen and (max-width: 1287px) {
  .plus {
    margin-left: 5rem;
  }
}

@media screen and (max-width: 1241px) {
  .desc-comprar {
    margin-left: 13rem;
  }
}

@media screen and (max-width: 1221px) {
  .div-asistencia-form {
    flex-direction: column;
  }

  .asistencia-preguntas {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .asistencia-inputs {
    margin-top: 0rem;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .asistencia-flecha1 {
    padding-left: 3rem;

    cursor: pointer;
    text-align: right;
  }

  .asistencia-flecha2 {
    padding-left: 3rem;

    cursor: pointer;
    text-align: right;
  }

  .asistencia-flecha3 {
    text-align: right;
    cursor: pointer;
    padding-left: 3rem;
  }

  .asistencia-flecha4 {
    text-align: right;
    padding-left: 3rem;
  }

  .asistencia-hr {
    width: 100%;
  }
}

@media screen and (max-width: 1181px) {
  .plus {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 1081px) {
  .div-caja1-promocion {
    width: 40%;
  }
}

@media screen and (max-width: 1067px) {
  .desc-comprar {
    margin-left: 10rem;
  }
}

@media screen and (max-width: 976px) {
  .plus {
    margin-left: 0rem;
  }
}

@media screen and (max-width: 974px) {
  #comprar-producto {
    height: 80vh;
  }
}

@media screen and (max-width: 946px) {
  #iniciar-sesion {
    width: 100%;
  }

  #x-login {
    text-align: right;
    margin-right: 4rem;
  }
}

@media screen and (max-width: 896px) {
  .desc-comprar {
    margin-left: 8rem;
  }
}

@media screen and (max-width: 805px) {
  .btn-editar-perfil2 {
    margin-top: 0;
    margin-bottom: 0rem;
  }
  .btn-input-perfil {
    margin-bottom: 0rem;
  }
  .btn-editar-perfil2-2 {
    margin-top: 1rem;
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 797px) {
  art-button-container {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .div-info-comprar {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .info-comprar {
    width: 100%;
    text-align: center;
    margin-left: 0rem;
    margin-left: auto;
    margin-right: auto;
  }

  .p-info-comprar {
    margin-top: 3rem;
    text-align: center;
  }

  .hr-comprar {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .info {
    padding: 0 1rem !important;
  }

  .btn-comprar {
    width: 70%;
  }

  .div-img-comprar {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 770px) {
  .iconos {
    font-size: 1.5rem;
    color: white;
  }

  .div-inputs-registrar {
    width: 40%;
    margin: 1rem 0 1.5rem 0%;
  }

  .input-registrar-form {
    width: 80%;
  }

  .div-inputs-perfil {
    width: 40%;
    margin: 1rem 0 1.5rem 0%;
  }

  .input-perfil-form {
    width: 80%;
  }

  .div-inputs-registrar2 {
    width: 84%;
    margin-left: 8%;
  }

  .btn-input-comprar-producto {
    width: 40%;
  }
}

@media screen and (max-width: 762px) {
  #agregar2 {
    margin-top: 10rem;
  }
}

@media screen and (max-width: 717px) {
  .iconos {
    font-size: 1.5rem;
    color: white;
  }
}

@media screen and (max-width: 743px) {
  .div-noticias {
    width: 80%;
  }
  .h1-noticias {
    font-size: 2rem;
    margin-bottom: -4rem;
  }
}

@media screen and (max-width: 693px) {
  .div-inputs-login {
    text-align: left;
    margin: 0.5rem 0 1.5rem 25%;
  }

  .div-caja1-promocion {
    padding: 8rem 5rem;
    width: 60%;
  }

  .input-login-form {
    width: 65%;
  }

  .btn-input-login {
    width: 30%;
  }
}

@media screen and (max-width: 679px) {
  .desc-comprar {
    margin-left: 6rem;
  }
}

@media screen and (max-width: 635px) {
  .div-comprar-producto {
    padding: 10rem 5rem;
    width: 80%;
  }

  .btn-comprar {
    width: 90%;
  }
}

@media screen and (max-width: 622px) {
  .iconos {
    font-size: 1.5rem;
    color: white;
  }
}

@media screen and (max-width: 612px) {
  .asistencia-flecha4 {
    text-align: right;
    padding-left: 2rem;
  }
}

@media screen and (max-width: 591px) {
  .parrafo-testimonio {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 585px) {
  .asistencia-flecha4 {
    text-align: right;
    padding-left: 1rem;
  }
}

@media screen and (max-width: 574px) {
  .izonos {
    font-size: 1.3rem;
    color: white;
  }

  #x-login {
    text-align: right;
    margin-right: 1rem;
  }

  .btn-perfil {
    margin-bottom: 2rem;
  }

  #caracteristicas {
    height: 60vh;
  }
}

@media screen and (max-width: 574px) {
  .iconos {
    font-size: 1.3rem;
    color: white;
  }
}

@media screen and (max-width: 549px) {
  .asistencia-flecha1,
  .asistencia-flecha1 {
    text-align: right;
    padding-left: 1rem;
  }
  .asistencia-flecha3 {
    text-align: right;
    padding-left: 1rem;
  }
}

@media screen and (max-width: 524px) {
  .btn-editar-perfil2 {
    margin: 0;
  }
  .btn-editar-perfil2-2 {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 484px) {
  .div-btns-editar {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    display: block;
  }
  .btn-editar-perfil2-1 {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 315px) {
  .btn-perfil,
  .btn-perfil1 {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .div-inputs-registrar-gnrl {
    justify-content: space-around;
  }

  .div-inputs-registrar {
    width: 40%;
    margin: 1rem 0 1.5rem 0%;
  }

  .input-registrar-form {
    width: 100%;
  }

  #label-registrar {
    font-size: 0.8rem;
  }

  .btn-input-registrar {
    width: 30%;
    font-size: 0.8rem;
  }

  .btn-input-comprar-producto {
    font-size: 0.8rem;
  }

  .h1-registrarse {
    font-size: 2rem;
  }

  .h4-p {
    margin-top: -1rem;
  }

  .div-inputs-perfil-gnrl {
    justify-content: space-around;
  }

  .div-inputs-perfil {
    width: 40%;
    margin: 1rem 0 1.5rem 0%;
  }

  .input-perfil-form {
    width: 100%;
  }

  #label-perfil {
    font-size: 0.8rem;
  }

  .h1-perfil {
    font-size: 2rem;
  }

  .comprar-div {
    flex-direction: column;
  }

  .desc-comprar {
    text-align: justify;
    margin-left: 0rem;
    margin-left: auto;
    margin-right: auto;
  }

  #comprar {
    margin-top: 4rem;
    margin-bottom: 18rem;
  }
  .div-inputs-registrar2 {
    width: 100%;
    margin-left: 0%;
  }

  .btn-input-comprar-producto {
    width: 30%;
  }
}

@media screen and (max-width: 437px) {
  .div-inputs-login {
    text-align: left;
    margin: 0.5rem 0 1.5rem 10%;
  }

  #x-login {
    text-align: right;
    margin-right: 1rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .input-login-form {
    width: 87%;
  }

  .btn-input-login {
    width: 50%;
  }
}

@media screen and (max-width: 497px) {
  .h1-comprar-productos {
    font-size: 2.5rem;
  }

  .p-comprar-productos {
    font-size: 1rem;
  }
}
@media screen and (max-width: 455px) {
  .input-nombre,
  .input-email,
  .input-mensaje {
    width: 100%;
    padding-left: 0rem;
  }
}

@media screen and (max-width: 449px) {
  .btn-input-comprar-producto,
  .btn-input-comprar-producto2 {
    width: 40%;
  }
}

@media screen and (max-width: 427px) {
  .div-comprar-producto {
    width: 100%;
  }

  .h1-comprar-productos {
    font-size: 2rem;
  }

  .p-comprar-productos {
    font-size: 0.8rem;
  }

  .btn-comprar-productos {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 397px) {
  .btn-input-comprar-producto {
    width: 80% !important;
    margin-bottom: 0 !important;
  }
  .btn-input-comprar-producto2 {
    width: 70% !important;
    margin: 0 0 2rem 0 !important;
  }
}

@media screen and (max-width: 372px) {
  .div-comprar-producto {
    padding: 10rem 2rem;
  }
}

@media screen and (max-width: 330px) {
  .p-nota {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 320px) {
  .x-registrar {
    margin-right: 0rem;
  }

  .btn-input-registrar {
    width: 50%;
  }

  .btn-input-comprar-producto {
    width: 50%;
  }

  .x-perfil {
    margin-right: 0rem;
  }
}
