body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0.671);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(49, 49, 49);
  border-radius: 7px;
}

html {
  scroll-behavior: smooth;
  transition: 4s;
}

input {
  outline: 0px;
}

/* INICIO */

.marca {
  width: 30%;
}

.marca1 {
  padding-top: 7.5rem;
  width: 60%;
}

.marca2 {
  padding-top: 4rem;
  width: 60%;
}

.marca3 {
  padding-top: 2rem;
  padding-bottom: 5rem;
  width: 50%;
}

.marca4 {
  padding-top: 2rem;
  width: 60%;
}

.marca5 {
  width: 90%;
}

.marca6 {
  padding-top: 4rem;
  width: 90%;
}

/* NOTICIAS */

.div-noticias {
  width: 60%;
  margin: 5rem auto;
  text-align: justify;
}

.h1-noticias {
  padding-top: 5rem;
  text-align: center;
  font-size: 3rem;
}

/* ASISTENCIA */

#asistencia {
  height: auto;
}

.div-asistencia-form {
  display: flex;
  justify-content: space-evenly;
}

.asistencia-preguntas {
  font-size: 0.9rem;
  margin-top: 7rem;
  width: 40%;
  margin-bottom: 5rem;
}

.asistencia-inputs {
  margin-top: 9rem;
}

.desaparece,
.desaparece2 {
  display: none;
}

.asistencia-p0 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 1.5rem;
}

.asistencia-p1 {
  margin-top: 2rem;
}

.asistencia-p2 {
  text-align: justify;
  width: 85%;
  margin-top: 1.5rem;
}

.asistencia-flecha1 {
  padding-left: 15rem;
  cursor: pointer;
}

.asistencia-flecha2 {
  padding-left: 17.5rem;
  cursor: pointer;
}

.asistencia-flecha3 {
  cursor: pointer;
  padding-left: 6rem;
}

.asistencia-flecha4 {
  cursor: pointer;
  padding-left: 3.1rem;
}

.asistencia-hr {
  width: 88%;
  margin-left: 0;
  margin-top: 2rem;
}

.asistencia-h4-input {
  text-align: center;
}

.input-nombre,
.input-email {
  border: none;
  background: rgb(221, 221, 221);
  color: black;
  padding-left: 1rem;
  height: 2rem;
  width: 16rem;
  outline: 0px;
}

.input-email {
  margin-top: 0.3rem;
  outline: 0px;
}

.input-mensaje {
  margin-top: 0.3rem;
  border: none;
  background: rgb(221, 221, 221);
  color: black;
  padding: 1rem 1rem 0 1rem;
  min-width: 15.1rem;
  max-width: 15.1rem;
  min-height: 7rem;
  max-height: 10rem;
  width: 15.1rem;
  font-family: sans-serif;
  outline: 0px;
}

.input-btn {
  width: 100%;
  height: 2.5rem;
  margin-top: 0.3rem;
  background-color: #1a74af;
  border: 1px solid #175680;
  cursor: pointer;
  color: #fff;
  outline: 0px;
  margin-bottom: 2rem;
  transition: 1s;
}

.input-btn:hover {
  transition: 1s;
  background-color: #175680;
}

/* NOTICIAS */

/* INICIAR SESIÓN */

.body-login {
  background-color: #119dcf;
}

#iniciar-sesion {
  text-align: center;
  width: 80%;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
}

#x-login {
  margin-top: -1rem;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  right: 0;
}

.x-ancla {
  text-decoration: none;
  color: black;
}

.h1-login {
  margin-top: -1rem;
  font-size: 3rem;
  color: #fff;
  font-weight: 500;
}

.h4-p {
  margin-top: -1.5rem;
  color: #000;
  margin-bottom: 4rem;
  font-weight: 500;
}

.div-inputs-login {
  text-align: left;
  margin: 0.5rem 0 1.5rem 33.5%;
}

#label-login {
  color: #fff;
}

.input-login-form {
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  padding: 0;
  font-weight: lighter;
  width: 50%;
  outline: 0px;
  font-size: 18px;
  margin-top: 10px;
}

.btn-input-login {
  background-color: #1a74af;
  border: 1px solid #175680;
  cursor: pointer;
  color: #fff;
  width: 20%;
  height: 3rem;
  font-size: 1rem;
  margin-top: 1.5rem;
  border-radius: 10px;
  transition: 1s;
}

.btn-input-login:hover {
  transition: 1s;
  background-color: #175680;
}

/* REGISTRO */

.body-registrar {
  background-color: #119dcf;
  height: auto;
}

#registrarse {
  width: 80%;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.div-registrarse {
  text-align: center;
}

.div-inputs-registrar-gnrl {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.div-inputs-registrar {
  width: 40%;
  margin: 1rem 0 1.5rem 0%;
  text-align: center;
}

#label-registrar {
  color: #fff;
}

.div-input-conf-registrar {
  margin-top: 2rem;
}

.div-inputs-registrar2 {
  text-align: left;
  width: 60%;
  margin-left: 20%;
  margin-bottom: 10px;
}

.div-inputs-registrar3 {
  text-align: center;
  width: 60%;
  margin-left: 20%;
  margin-bottom: 10px;
}

.input-registrar-form {
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  font-size: 18px;
  width: 60%;
  outline: 0px;
}

.btn-input-registrar {
  background-color: #1a74af;
  border: 1px solid #175680;
  cursor: pointer;
  color: #fff;
  width: 40%;
  height: 3rem;
  font-size: 1rem;
  margin: 3rem auto 4rem auto;
  display: inline-block;
  transition: 1s;
  border-radius: 10px;
  /* background-color: #d0b48f; */
}

.btn-input-registrar:hover {
  transition: 1s;
  background-color: #175680;
  /* background-color: #ac9373; */
}

/* COMPRAR */

.body-comprar {
  background-color: #2d2d2d;
}

#comprar {
  height: 110vh;
  margin-top: 7rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.comprar-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.div-img-comprar {
  width: 50%;
  text-align: right;
}

.img-comprar {
  width: 70%;
}

.desc-comprar {
  text-align: justify;
  width: 60%;
  margin-left: 15rem;
  color: white;
}

.div-info-comprar {
  width: 50%;
  text-align: left;
}

.info-comprar {
  margin-top: 3rem;
  margin-left: 2rem;
  color: white;
  width: 48%;
}

.titulo-comprar {
  font-size: 1.7rem;
}

.version-comprar {
  margin-top: -2rem;
  font-size: 0.8rem;
}

.precio-comprar {
  margin-top: -0.5rem;
  font-size: 1.1rem;
}

.input-comprar {
  padding: 0.6rem;
  width: 3.2rem;
  margin-bottom: 1.5rem;
  margin-top: -0.5rem;
}

.btn-comprar {
  width: 100%;
  height: 3rem;
  font-size: 0.9rem;
  background-color: #1a74af;
  border: 1px solid #175680;
  color: #fff;
  cursor: pointer;
  transition: 1s;
}

.btn-comprar:hover {
  transition: 1s;
  background-color: #175680;
}

.p-info-comprar {
  margin-top: 3rem;
  text-align: left;
}

.desc-info-comprar {
  margin-top: 1.5rem;
  text-align: justify;
  margin-bottom: 1rem;
}

.plus {
  margin-left: 7rem;
  cursor: pointer;
}

.btn-input-comprar-producto {
  background-color: #1a74af;
  border: 1px solid #175680;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  width: 20%;
  height: 3rem;
  font-size: 1rem;
  margin: 3rem auto 4rem auto;
  display: inline-block;
  transition: 1s;
}

.btn-input-comprar-producto:hover {
  transition: 1s;
  background-color: #175680;
}

/* Comprar producto */

/* Agregar pedido */

.body-agregar2 {
  background-color: #119dcf;
  height: auto;
}

#agregar2 {
  text-align: center;
  width: 80%;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.div-inputs-agregar2-gnrl {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.div-inputs-agregar2 {
  width: 40%;
  margin: 1rem 0 1.5rem 0%;
}

#label-agregar2 {
  color: white;
}

#label-agregarnota {
  color: white;
  margin-top: 3rem;
}

.input-agregar2-form {
  text-align: center;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  padding-top: 10px;
  padding-left: 10px;
  width: 50%;
  outline: 0px;
  font-size: 1rem;
}

.btn-input-agregar2 {
  background-color: #1a74af;
  border: 1px solid #175680;
  cursor: pointer;
  color: #fff;
  width: 40%;
  height: 3rem;
  font-size: 1rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
  border-radius: 10px;
  transition: 1s;
}

.btn-input-agregar2:hover {
  transition: 1s;
  background-color: #175680;
}

/* Mi perfil */

.body-perfil {
  background-color: #119dcf;
}

.h1-perfil {
  font-size: 3rem;
  color: #000000;
  font-weight: 500;
}

#perfil {
  text-align: center;
  width: 80%;
  margin-top: 8rem;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.div-inputs-perfil-gnrl {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.div-inputs-perfil {
  width: 40%;
  margin: 1.5rem 0 1rem 3rem;
}

#label-perfil {
  color: #fff;
}

.input-perfil-form {
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  padding-top: 1rem;
  padding-left: 10px;
  font-size: 1rem;
  width: 60%;
  outline: 0px;
}

.div-perfil-btn {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.btn-perfil {
  text-decoration: none;
  margin-right: 1rem;
  background-color: #1a74af;
  border: 1px solid #175680;
  border-radius: 10px;
  color: #fff;
  padding: 0.8rem 5%;
  font-size: 1rem;
  display: inline-block;
  margin-bottom: 2rem;
  transition: 1s;
}

.btn-perfil:hover {
  transition: 1s;
  background-color: #175680;
}

.btn-perfil2 {
  display: inline-block;
  text-decoration: none;
  margin-right: 1rem;
  background-color: #1a74af;
  border: 1px solid #175680;
  border-radius: 10px;
  color: #fff;
  padding: 0.8rem 4%;
  font-size: 1rem;
  transition: 1s;
  cursor: pointer;
}

.btn-perfil22 {
  margin-bottom: 3rem;
  background-color: #1a74af;
  border: 1px solid #175680;
  color: #fff;
  border-radius: 10px;
}

.btn-perfil2:hover {
  transition: 1s;
  background-color: #175680;
}

/* Editar perfil */

.btn-editar-perfil2 {
  display: inline-block;
  margin-left: 1rem;
  background-color: #1a74af;
  border: 1px solid #175680;
  border-radius: 10px;
  color: #fff;
  margin-top: 3rem;
  margin-bottom: 4rem;
  text-decoration: none;
  transition: 1s;
  cursor: pointer;
  padding: 14.5px 48px;
}

.btn-editar-perfil2:hover {
  transition: 1s;
  background-color: #175680;
}

.btn-input-perfil {
  background-color: #1a74af;
  border: 1px solid #175680;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  padding: 14.5px 48px;

  font-size: 1rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
  outline: 0px;
  transition: 1s;
}

.btn-input-perfil:hover {
  transition: 1s;
  background-color: #175680;
}

.btn-input-perfil2 {
  text-align: center;
  background-color: #1a74af;
  border: 1px solid #175680;
  border-radius: 10px;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 20%;
  height: 3rem;
  font-size: 1rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
  outline: 0px;
  transition: 1s;
}

.btn-input-perfil2:hover {
  transition: 1s;
  background-color: #175680;
}
