body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0.671);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(49, 49, 49);
  border-radius: 7px;
}

html {
  scroll-behavior: smooth;
  transition: 4s;
}

input {
  outline: 0px !important;
}

a {
  text-decoration: none;
}

/* INICIAR SESIÓN */

.body-login {
  background-position: center;
  background-image: url(../img/iniciar_sesion.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  /* background-size: cover; */
  background-attachment: fixed;
}

.titulo-login {
  font-weight: bold;
  color: #fff;
}

.label_login {
  color: #ffffff;
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.formulario_login {
  background: rgba(0, 0, 0, 0.473);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.form-control_login {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  border-radius: 0px;
  padding: 0px;
  padding-left: 0 !important;
  padding-bottom: 0px !important;
  color: #fff;
  font-size: 17px;
}

.form-control_login:focus {
  color: #fff;
  border-bottom: 1px solid #fff;
  box-shadow: none;
  background: transparent;
  border-radius: 0px;
}

.form-control_login:-webkit-autofill,
.form-control_login:-webkit-autofill:hover,
.form-control_login:-webkit-autofill:focus {
  border-bottom: 1px solid #fff;
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: transparent;
  transition: background-color 5000s ease-in-out 0s;
}

.ingresar {
  background: #222a3f;
  padding: 10px 50px;
  font-size: 16px;
  font-weight: 700 !important;
  color: white;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
  transition: 0.5s ease-in;
  margin-left: 10px;
  margin-right: 10px;
}

.ingresar:hover {
  background: #1b2131;
  color: white;
}

/* REGISTRO */

.body-registrar {
  background-image: url(../img/registrarse.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container-registrarse {
  margin-top: 3.7rem;
}

.formulario_registrarse {
  background: rgba(0, 0, 0, 0.473);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
  color: white;
}

.h1-registrarse {
  font-size: 49px;
  color: #000;
}

.label-registrarse {
  color: #fff;
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.form-control-registrarse {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  border-radius: 0px;
  padding: 0px;
  padding-left: 0 !important;
  padding-bottom: 0px !important;
  color: #fff;
  font-size: 17px;
}

.form-control-registrarse:focus {
  color: #fff;
  border-bottom: 1px solid #fff;
  box-shadow: none;
  background: transparent;
  border-radius: 0px;
}

.form-control-registrarse:-webkit-autofill,
.form-control-registrarse:-webkit-autofill:hover,
.form-control-registrarse:-webkit-autofill:focus {
  border-bottom: 1px solid #fff;
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: transparent;
  transition: background-color 5000s ease-in-out 0s;
}

.registrarse {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.formulario_responsive {
  display: none;
}

/* PRODUCTOS */

.body-productos,
.body-direccion {
  background: #f8fafb;
}

.tarjeta-wrap {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.card-sombra {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
}

.h1-catalogo {
  margin: 7rem 0;
  text-align: center;
  font-size: 3rem;
}

.icono {
  position: absolute;
  bottom: 45%;
  right: 0%;
  font-size: 30px;
  cursor: zoom-in;
  background: transparent;
  border: none;
  color: #fff;
  outline: none;
}

.icono:active {
  outline: none;
}

.icono:focus {
  outline: none;
}

.zoom img {
  cursor: zoom-in;
}

.boton-icono {
  display: none;
}

/* COMPRAR */

.body-comprar {
  /* background-color: #d7f4f7; */
  background-color: #f8fafb;
}

#comprar {
  height: 110vh;
  margin-top: 7rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.comprar-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.div-img-comprar {
  width: 50%;
  text-align: right;
}

.img-comprar {
  width: 70%;
  border-radius: 10px;
}

.desc-comprar {
  text-align: justify;
  width: 62%;
  margin-left: 14rem;
  color: #000;
}

.div-info-comprar {
  width: 50%;
  text-align: left;
}

.info-comprar {
  margin-top: 3rem;
  margin-left: 2rem;
  color: #000;
  width: 48%;
  transition: 3s;
}

.titulo-comprar {
  font-size: 1.7rem;
}

.version-comprar {
  margin-top: -2rem;
  font-size: 0.8rem;
}

.precio-comprar {
  margin-top: -0.5rem;
  font-size: 1.1rem;
}

.input-comprar {
  padding: 0.6rem;
  width: 3.2rem;
  margin-bottom: 1.5rem;
  margin-top: -0.5rem;
}

.btn-comprar {
  width: 100%;
  height: 3rem;
  font-size: 0.9rem;
  background-color: #1a74af;
  border: 1px solid #175680;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: 1s;
}

.btn-comprar:hover {
  transition: 1s;
  background-color: #175680;
}

.p-info-comprar {
  margin-top: 3rem;
  text-align: left;
}

.desc-info-comprar {
  margin-top: 1.5rem;
  text-align: justify;
  margin-bottom: 1rem;
  transition: 3s;
}

.plus {
  margin-left: 7rem;
  cursor: pointer;
  transition: 3s;
}

.btn-input-comprar-producto {
  background-color: #343a40;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  width: 20%;
  height: 3rem;
  font-size: 1rem;
  margin: 3rem auto 4rem auto;
  display: inline-block;
  transition: 1s;
}

.btn-input-comprar-producto:hover {
  transition: 1s;
  background-color: #2d2d2d;
}

.desaparece2 {
  display: none;
  transition: 2s;
}

/* Agregar pedido */

.body-agregar2 {
  background-color: #119dcf;
  height: auto;
}

#agregar2 {
  text-align: center;
  width: 80%;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.div-inputs-agregar2-gnrl {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.div-inputs-agregar2 {
  width: 40%;
  margin: 1rem 0 1.5rem 0%;
}

#label-agregar2 {
  color: white;
}

#label-agregarnota {
  color: white;
  margin-top: 3rem;
}

.input-agregar2-form {
  text-align: center;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  padding-top: 10px;
  padding-left: 10px;
  width: 50%;
  outline: 0px;
  font-size: 1rem;
}

.btn-input-agregar2 {
  background-color: #1a74af;
  border: 1px solid #175680;
  cursor: pointer;
  color: #fff;
  width: 40%;
  height: 3rem;
  font-size: 1rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
  border-radius: 10px;
  transition: 1s;
}

.btn-input-agregar2:hover {
  transition: 1s;
  background-color: #175680;
}

/* Mi perfil, editar perfil */

.body-perfil {
  background-color: #d7f4f7;
}

.titulo-pedidos {
  color: #000;
  font-weight: bold;
}

.card-trasnparente {
  background: rgba(0, 0, 0, 0.473);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
}

.form-control-registrarse[readonly] {
  background: transparent;
}

.label-pedidos {
  font-weight: bold;
  color: #000;
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.form-control-negro {
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
  border-radius: 0px;
  padding: 0px;
  padding-left: 0 !important;
  padding-bottom: 0px !important;
  color: #000;
  font-size: 17px;
}

.form-control-negro:focus {
  color: #000;
  border-bottom: 1px solid #000;
  box-shadow: none;
  background: transparent;
  border-radius: 0px;
}

.form-control-negro:-webkit-autofill,
.form-control-negro:-webkit-autofill:hover,
.form-control-negro:-webkit-autofill:focus {
  border-bottom: 1px solid #000;
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: transparent;
  transition: background-color 5000s ease-in-out 0s;
}

.form-control-negro[readonly] {
  background: transparent;
}
