body::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0.671);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(10, 10, 10);
  border-radius: 7px;
}

html {
  scroll-behavior: smooth;
}

input {
  outline: 0px;
}

#links-dashboard {
  text-decoration: none;
}

.a_panel {
  padding: 2px 6px !important;
}

th,
td {
  text-align: center;
}

.btn-excel {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  cursor: pointer;
  margin: 0 0 -1.3rem 1rem;
}

.btn-pdf {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  cursor: pointer;
  margin: 0 0 -1.3rem -4px;
}

.btn-imprimir {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
  cursor: pointer;
  margin: 0 0 -1.3rem -4px;
}

.btn-excel:hover {
  background-color: #2b8640;
  border-color: #2b8640;
}

.btn-pdf:hover {
  background-color: #b93e4b;
  border-color: #b93e4b;
}

.btn-imprimir:hover {
  background-color: #1c8494;
  border-color: #1c8494;
}

@media screen and (width: 383px) {
  .desaparecer {
    display: none;
  }
}

#tachado {
  z-index: 1000 !important;
}

.activePanel {
  color: #fff !important;
  font-weight: bold !important;
  display: block;
  padding: 0.5rem 1rem !important;
}

.activePanel:hover {
  text-decoration: none !important;
}
