body::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0.671);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(49, 49, 49);
  border-radius: 7px;
}

/*================================================
Go Top CSS
=================================================*/
.go-top {
  position: fixed;
  cursor: pointer;
  top: 0;
  right: 15px;
  background-color: #000000;
  color: #ffffff;
  z-index: 4;
  width: 40px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .9s;
  transition: .9s;
}

.go-top.active {
  top: 98%;
  -webkit-transform: translateY(-98%);
          transform: translateY(-98%);
  opacity: 1;
  visibility: visible;
}

.go-top:hover, .go-top:focus {
  background-color: #ffffff;
  color: #000000;
}

/*section-title*/
.section-title {
  text-align: center;
  position: relative;
  z-index: 1;
  padding-bottom: 105px;
  margin-bottom: 3rem;
  margin-top: 5rem;
}

.section-title h2 {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 38px;
  font-family: sans-serif;
  font-weight: 700;
  padding-top: 0.5rem;
}

.section-title .back-text {
  position: absolute;
  top: -80px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: -1;
  color: #000000;
  opacity: 0.04;
  text-transform: uppercase;
  font-size: 146px;
  font-weight: 900;
}

.section-title.white-color h2 {
  color: #000;
}

.section-title.white-color .back-text {
  opacity: 0.2;
  color: #000;
}

@media only screen and (max-width: 767px) {
  .section-title {
    padding-bottom: 30px;
  }
  .section-title .back-text {
    top: -20px;
    font-size: 45px;
  }
  .section-title h2 {
    font-size: 22px;
  }
  .section-title::before {
    height: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-title {
    padding-bottom: 75px;
  }
  .section-title h2 {
    font-size: 26px;
  }
  .section-title .back-text {
    top: -38px;
    font-size: 75px;
  }
  .section-title::before {
    height: 40px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section-title h2 {
    font-size: 35px;
  }
  .section-title .back-text {
    top: -54px;
    font-size: 100px;
  }
}
